<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Bemuse">
        <meta name="description" content="Arknights wallpaper for WE">
        <meta name="keywords" content="html, css, js, three.js, vue.js, tween.js">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="assets/js/vue.min.js"></script>
        <script src="assets/js/tween.umd.js"></script>
        <script src="assets/js/param.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.method.js"></script>
        <script src="assets/js/move.js"></script>
        <script src="assets/js/tween.js"></script>
        <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrap">
            <transition name="text-transition">
                <div id="opening" v-show="show.opening">
                    <span
                        class="opening-text"
                        v-for="t in arr.opening.text"
                        :key="t.id"
                        :style="t.style"
                    >{{t.display}}</span>
                </div>
            </transition>
            <div id="main">
                <div id="main-line-wrap">
                    <div id="main-line">
                        <div
                            class="main-line-square"
                            v-for="l in arr.main.line"
                            :key="l.id"
                            :style="l.style"
                        ></div>
                    </div>
                    <div id="main-point">
                        <div :style="style.point"></div>
                    </div>
                </div>
                <div id="main-circle-wrap">
                    <transition-group name="circle-logo-transition" tag="div" id="circle-logo">
                        <div
                            class="circle-logo-element"
                            v-for="l in arr.main.circle.logo"
                            v-show="l.show"
                            :key="l.id"
                        ><div :style="l.style"></div></div>
                    </transition-group>
                    <!-- <transition-group name="circle-line-element-transition"> -->
                        <div
                            class="circle-line-element"
                            v-for="l in arr.main.circle.line"
                            :key="l.id"
                        ><div :style="l.style"></div>
                        </div>
                    <!-- </transition-group> -->
                </div>
            </div>
        </div>
        <script src="assets/js/main.js"></script>
    </body>
</html>