<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Bemuse">
        <meta name="description" content="Arknights wallpaper for WE">
        <meta name="keywords" content="html, css, js, three.js, vue.js, tween.js, SimplexNoise">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="assets/js/vue.min.js"></script>
        <script src="assets/js/three.min.r118.js"></script>
        <script src="assets/js/tween.umd.js"></script>
        <script src="assets/js/simplex-noise.2.3.0.min.js"></script>
        <script src="assets/js/param.js"></script>
        <script src="assets/js/source.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.method.js"></script>
        <script src="assets/js/object.js"></script>
        <script src="assets/js/move.js"></script>
        <script src="assets/js/transform.js"></script>
        <script src="assets/js/tween.js"></script>
        <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- <b><em><u><s>e</s></u></em></b> -->
        <div id="wrap">
            <transition name="text-transition">
                <div id="opening" v-show="show.opening">
                    <span
                        class="opening-text"
                        v-for="t in arr.opening.text"
                        :key="t.id"
                        :style="t.style"
                    >{{t.display}}</span>
                </div>
            </transition>
            <div id="main">
                <div id="main-back-wrap">
                    <div id="back-line">
                        <div
                            class="back-line-element"
                            v-for="l in arr.main.back.line"
                            :key="l.id"
                            :style="l.style"
                        ></div>
                    </div>
                    <div id="back-point">
                        <div :style="style.point"></div>
                    </div>
                    <div id="back-ellipse">
                        <div
                            class="back-ellipse-element"
                            v-for="e in arr.main.back.ellipse"
                            :key="e.id"
                            :style="e.style.parent"
                        ><div :style="e.style.child"></div>
                        </div>
                    </div>
                </div>
                <div id="main-circle-wrap">
                    <transition-group name="circle-logo-transition" tag="div" id="circle-logo">
                        <div
                            class="circle-logo-element"
                            v-for="l in arr.main.circle.logo"
                            v-show="l.show"
                            :key="l.id"
                        ><div :style="l.style"></div></div>
                    </transition-group>
                    <div id="circle-line">
                        <div
                            class="circle-line-element"
                            v-for="l in arr.main.circle.line"
                            :key="l.id"
                        ><div :style="l.style"></div>
                        </div>
                    </div>
                    <div 
                        v-for="n in arr.main.circle.number"
                        :key="n.key"
                        :id="n.ids"
                        :style="n.style"
                    >
                        <div
                            :class="n.classes"
                            v-for="a in n.arr"
                            :key="a.id"
                        ><div :style="a.style"><span>{{a.text}}</span></div>
                        </div>
                    </div>
                    <div id="circle-shape">
                        <div
                            class="circle-shape-element"
                            v-for="l in arr.main.circle.shape"
                            :key="l.id"
                        ><div :style="l.style"></div>
                        </div>
                    </div>
                </div>
                <div id="main-arrow-wrap">
                    <transition-group name="circle-logo-transition" tag="div" id="arrow">
                        <div
                            class="arrow-element"
                            v-for="a in arr.main.arrow"
                            :key="a.id"
                            v-show="a.show"
                            :style="a.style"
                        ></div>
                    </transition-group>
                </div>
                <div id="main-canvas-wrap">
                    <canvas id="canvas"></canvas>
                </div>
                <div id="main-bar-wrap">
                    <div id="bar-top" :style="style.bar">
                        <div
                            class="bar-element"
                            v-for="b in arr.main.bar.top"
                            :key="b.id"
                            :style="b.style.parent"
                        ><div :style="b.style.child"></div>
                        </div>
                    </div>
                    <div id="bar-bottom" :style="style.bar">
                        <div
                            class="bar-element"
                            v-for="b in arr.main.bar.bottom"
                            :key="b.id"
                            :style="b.style.parent"
                        ><div :style="b.style.child"></div>
                        </div>
                    </div>
                </div>
                <div id="main-clock-wrap" :style="style.clock">
                    <transition-group name="clock-transition" tag="div"
                        v-for="c in arr.main.clock"
                        :class="c.classes"
                        :key="c.id"
                    >
                        <div
                            v-for="a in c.arr"
                            :key="a.id"
                            v-show="a.show"
                        ><span>{{a.text}}</span>
                        </div>
                    </transition-group>
                </div>
                <div id="main-text-wrap">
                    <div id="text-element">
                        <span
                            v-for="t in arr.main.text"
                            :key="t.id"
                        >{{t.text}}
                        </span>
                    </div>
                </div>
                <div id="main-command-wrap">
                    <div id="command-top">
                        <div
                            class="command-element"
                            v-for="c in arr.main.command.top"
                            :key="c.id"
                        ><div :style="c.style"><span>{{c.text}}</span></div>
                        </div>
                    </div>
                    <div id="command-bottom">
                        <div
                            class="command-element"
                            v-for="c in arr.main.command.bottom"
                            :key="c.id"
                        ><div :style="c.style"><span>{{c.text}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/js/main.js"></script>
    </body>
</html>