:root{
    --main-hex-color: #bbe2e4;
    --main-rgb-color-border: rgba(187, 226, 228, 0.1);
}




@font-face{
    src: url('../font/RobotoMono-Light.ttf');
    font-family: RobotoMonoLight;
}
@font-face{
    src: url('../font/NotoMono-Regular.ttf');
    font-family: NotoMonoRegular;
}




@keyframes blink-close{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes blink-open{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
/* opening transition */
.text-transition-enter-active{
    transition: all 0.3s;
}
.text-transition-leave-active{
    animation: blink-close 0.06s 3 forwards;
    transition: all 0.3s;
}
.text-transition-enter{
    opacity: 0;
}
.text-transition-leave-to{
    opacity: 0;
}
/* main transition */
.main-transition-enter-active{
    animation: blink-open 0.06s 2 forwards;
    transition: all 0.3s;
}
.main-transition-leave-active{
    transition: all 0.3s;
}
.main-transition-enter{
    opacity: 0;
}
.main-transition-leave-to{
    opacity: 0;
}
/* analog clock transition */
.analog-clock-transition-enter-active{
    animation: blink-open 0.08s 0.04s 2 forwards;
    transition: all 0.25s;
}
.analog-clock-transition-leave-active{
    transition: all 0.25s;
}
.analog-clock-transition-enter{
    opacity: 0;
}
.analog-clock-transition-leave-to{
    opacity: 0;
}




*{
    margin: 0;
    padding: 0;
}
body{
    /* width: 100vw;
    height: 100vh;
    background: url('../image/bg/1.jpg') repeat; */
    background: black;
    overflow: hidden;
    color: var(--main-hex-color);
}




/* opening */
div#opening{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
span.opening-text{
    font-size: 60px;
    font-family: RobotoMonoLight;
    margin-right: 10px;
    transition: opacity 0.3s;
}
span.opening-text:last-child{
    margin-right: 0;
}




/* main canvas */
canvas#main-canvas{
    position: absolute;
    top: 0;
    left: 0;
}




/* main top clock */
div#main-top-clock > span{
    position: absolute;
    top: 5px;
    font-family: NotoMonoRegular;
    font-size: 14px;
}
div#main-top-clock > span:nth-child(1){
    left: 5px;
}
div#main-top-clock > span:nth-child(2){
    left: 50%;
    transform: translate(-50%, 0px);
}
div#main-top-clock > span:nth-child(3){
    right: 5px;
}




/* main left clock */
div#main-left-clock{
    position: absolute;
    left: 20px;
    bottom: 60px;
    width: 420px;
    height: 420px;
    font-family: NotoMonoRegular;
    font-size: 12px;
    /* background: var(--main-rgb-color-border); */
    /* border-radius: 50%;
    border: 1px solid var(--main-rgb-color-border); */
}
div.clock-points > div{
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.clock-points > div div{
    text-align: center;
}
div.clock-hands{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
div.clock-hands > div{
    background: var(--main-hex-color);
    width: 2px;
    transform-origin: bottom;
}
div.hands-second > div{
    height: 180px;
}
div.hands-minute > div{
    height: 156px;
}
div.hands-hour > div{
    height: 120px;
}
/* div#analog-clock-back{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: var(--main-hex-color);
    opacity: 0.2;
    border-radius: 50%;
} */