:root{
    --main-hex-color: #00fcfc;
}




@font-face{
    src: url('../font/RobotoMono-Light.ttf');
    font-family: RobotoMonoLight;
}
@font-face{
    src: url('../font/NotoMono-Regular.ttf');
    font-family: NotoMonoRegular;
}
@font-face{
    src: url('../font/Inconsolata-Light.ttf');
    font-family: InconsolataLight;
}




@keyframes blink-close{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes blink-open{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
/* opening transition */
.text-transition-enter-active{
    transition: all 0.3s;
}
.text-transition-leave-active{
    animation: blink-close 0.06s 3 forwards;
    transition: all 0.3s;
}
.text-transition-enter{
    opacity: 0;
}
.text-transition-leave-to{
    opacity: 0;
}




*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    overflow: hidden;
    color: var(--main-hex-color);
}




/* opening */
div#opening{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
span.opening-text{
    font-size: 60px;
    font-family: RobotoMonoLight;
    margin-right: 10px;
    transition: opacity 0.3s;
}
span.opening-text:last-child{
    margin-right: 0;
}




/* main */
div#main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}




/* main line */
div#main-line-wrap{
    position: absolute;
    top: 15vh;
    left: 15vw;
    width: 100vw;
    height: 100vh;
    transform: rotateX(-12deg) rotateY(12deg);
}
div#main-line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130vw;
    height: 130vh;
}
div.main-line-square{
    position: relative;
    float: left;
    width: 10vh;
    height: 10vh;
    /* outline: 1px solid rgba(0, 252, 252, 0.1); */
}
div#main-circle div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../image/bg/1.png') no-repeat center center / cover;
    width: 130vw;
    height: 130vh;
    transition: opacity 0.5s;
}